
body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    margin: 0px;
	overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
	color:#0078ff;
}

h1.title{
	width:30%;
}

.linkscont{
	position: absolute;
	width: 400px;
	height: 500px;
	border: 1px solid black;
	margin-left: 30%
}