body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    margin: 0px;
	overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position:fixed;
}
.container a {
    position:absolute;
    height: auto;
    text-align: center;
}